html{
    scroll-behavior: smooth;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
    /*background: linear-gradient(to bottom right, #e0f7fa, #b2ebf2);*/
    min-height: 100vh;

}


.Heading a:hover {
    color: blueviolet;
    transition-duration: 0.3s;
}

.Heading a {
    color: black; /* Default link color */
    text-decoration: none;
    transition-duration: 0.3s;
}


nav {
    font-size: 2.5vh;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style: none; /* Removes bullets from list */
}


nav ul li {
    display: flex;
    flex-grow: 1; /* Links grow to fill available space */
    flex-basis: 0; /* Equal size for each link */
    flex-shrink: 1; /* Allows links to shrink on smaller screens */
    text-align: center;
}


nav a {
    display: inline-flex;
    font-size: larger;
    padding: 10px 5vw;
    align-items: center;
    justify-content: space-evenly;
}


.Intro {
    display: flex;
    justify-content: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure vertical centering */
    width: 100%;
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto;
}

main div {
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.Bijzonder{

    text-decoration: none;
    color: #009688;
    transition-duration: 0.3s;


}

.Bijzonder:hover{
    transition-duration: 0.3s;
    color: #0056b3;

}

